version: "3.8"

services:
  date-annotator:
    image: nlpsandbox/date-annotator-example:0.3.1
    container_name: date-annotator
    restart: always
    ports:
      - 9000:8080

  person-name-annotator:
    image: nlpsandbox/person-name-annotator-example:0.3.1
    container_name: person-name-annotator
    restart: always
    ports:
      - 9001:8080

  physical-address-annotator:
    image: nlpsandbox/physical-address-annotator-example:0.3.2
    container_name: physical-address-annotator
    restart: always
    ports:
      - 9002:8080

  phi-deidentifier:
    image: nlpsandbox/phi-deidentifier:edge
    build:
      context: server
      dockerfile: Dockerfile
    container_name: phi-deidentifier
    restart: always
    environment:
      - DATE_ANNOTATOR_HOST=date-annotator
      - DATE_ANNOTATOR_PORT=8080
      - PERSON_NAME_ANNOTATOR_HOST=person-name-annotator
      - PERSON_NAME_ANNOTATOR_PORT=8080
      - PHYSICAL_ADDRESS_ANNOTATOR_HOST=physical-address-annotator
      - PHYSICAL_ADDRESS_ANNOTATOR_PORT=8080
    ports:
      - 9003:8080
    depends_on:
      - date-annotator
      - person-name-annotator
      - physical-address-annotator

  phi-deidentifier-app:
    image: nlpsandbox/phi-deidentifier-app:edge
    build:
      context: client
      dockerfile: Dockerfile
    container_name: phi-deidentifier-app
    restart: always
    ports:
      - 8080:80
    depends_on:
      - phi-deidentifier

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    container_name: nginx
    restart: always
    environment:
      - SERVER_HOST=phi-deidentifier
      - SERVER_PORT=8080
      - CLIENT_HOST=phi-deidentifier-app
      - CLIENT_PORT=80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates:/etc/nginx/templates:ro
    ports:
      - "80:80"
    depends_on:
      - phi-deidentifier-app