.App {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 50px;
}

.App:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: center;
  float: left;
  width: 50%;
}

.right {
  text-align: center;
  float: left;
  width: 50%;
}

textarea {
  padding: 5px;
  min-width: 60%;
  max-width: 500px;
  height: 400px;
  resize: none;
  border-radius: 5px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.deidentify-button {
  border-radius: 5px;
  background-color: lightskyblue;
  border: none;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
}

.deidentify-button:hover {
  background-color: lightblue;
}

.deid-config-add {
  margin-top: 15px;
  padding: 2px;
  padding-top: 0px;
  width: 20px;
  border-radius: 5px;
  background-color: grey;
  font-size: x-large;
  user-select: none;
}

.deid-config-add:hover {
  color: grey;
  background-color: lightgrey;
}